body {
    background-color: beige;
}

* {
    border-radius: 5%;
}

p {
    color: rgba(14, 13, 12, 0.486);
}

main img {
    width: fit-content;
    height: fit-content;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px sold black;
    padding: 10px;
}