body {
    background-color: beige;
}

* {
    border-radius: 10%;
}

p {
    color: #D9A236 #D9CA36 #D9B636 #D98C36 #CDDC3B;
}

main img {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 25%;
}

/* Style for the div containing the images */
div {
    display: flex;
    justify-content: center; /* This centers the child elements (images) horizontally */
    flex-wrap: wrap; /* This ensures wrapping if there's not enough space for all images on one line */
    gap: 10px; /* This provides some spacing between images */
}

/* Style for the individual images inside the div */
div img {
    margin: 0 auto; /* This centers each image if they are on separate lines due to wrapping */
}

.container{
    margin-top: 30px;
}

#bannerimg {
    width: 100%;
}